# Dependencies
node_modules/
perpus/node_modules/

# Next.js
perpus/.next/
perpus/out/

# Production
perpus/build/

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env
.env*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# SQLite
perpus/prisma/dev.db
perpus/prisma/dev.db-journal

# Turbopack
perpus/.turbo
